USE [master]
GO
/****** Object:  Database [OptiPackDB]    Script Date: 23/12/2025 12:25:43 ******/
CREATE DATABASE [OptiPackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OptiPackDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OptiPackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OptiPackDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OptiPackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OptiPackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OptiPackDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageHistories]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BoxUsed] [nvarchar](255) NULL,
	[ProtectiveMaterials] [nvarchar](max) NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[AiUsed] [nvarchar](50) NULL,
	[PackedAt] [datetime] NOT NULL,
	[Weight] [nvarchar](100) NULL,
	[Dimensions] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackagingInventory]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagingInventory](
	[MaterialId] [nvarchar](20) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Dimensions] [nvarchar](100) NULL,
	[MaxWeight] [nvarchar](50) NULL,
	[Stock] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Weight] [float] NOT NULL,
	[Length] [float] NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Fragility] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[LengthCm] [decimal](18, 2) NOT NULL,
	[WidthCm] [decimal](18, 2) NOT NULL,
	[HeightCm] [decimal](18, 2) NOT NULL,
	[WeightKg] [decimal](18, 2) NOT NULL,
	[FragilityLevel] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BoxId] [int] NOT NULL,
	[ProtectiveMaterials] [nvarchar](max) NOT NULL,
	[Confidence] [decimal](18, 2) NOT NULL,
	[PredictedRiskPercent] [decimal](18, 2) NOT NULL,
	[VehicleType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Recommendations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NOT NULL,
	[NotificationsEnabled] [bit] NOT NULL,
	[PreferredTheme] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 23/12/2025 12:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Theme] [nvarchar](20) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251208083259_AddPackageHistoryTable', N'8.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251212131434_AddProductMaster', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[PackageHistories] ON 

INSERT [dbo].[PackageHistories] ([Id], [ProductName], [ProductId], [BoxUsed], [ProtectiveMaterials], [Cost], [AiUsed], [PackedAt], [Weight], [Dimensions]) VALUES (1, N'Wine Glass', 9, N'Small Box', N'Bubble Wrap (3 layers)', CAST(65.50 AS Decimal(18, 2)), N'Yes', CAST(N'2025-12-21T10:10:58.070' AS DateTime), N'', N'')
INSERT [dbo].[PackageHistories] ([Id], [ProductName], [ProductId], [BoxUsed], [ProtectiveMaterials], [Cost], [AiUsed], [PackedAt], [Weight], [Dimensions]) VALUES (2, N'Table Clock', 10, N'BX001', N'BW001', CAST(66.15 AS Decimal(18, 2)), N'No', CAST(N'2025-12-21T10:15:37.017' AS DateTime), N'', N'')
INSERT [dbo].[PackageHistories] ([Id], [ProductName], [ProductId], [BoxUsed], [ProtectiveMaterials], [Cost], [AiUsed], [PackedAt], [Weight], [Dimensions]) VALUES (3, N'keyboard', 11, N'Small Box', N'Foam Sheets', CAST(131.00 AS Decimal(18, 2)), N'Yes', CAST(N'2025-12-21T10:28:34.330' AS DateTime), N'', N'')
SET IDENTITY_INSERT [dbo].[PackageHistories] OFF
GO
INSERT [dbo].[PackagingInventory] ([MaterialId], [MaterialName], [Type], [Dimensions], [MaxWeight], [Stock], [Cost], [Status], [CreatedAt]) VALUES (N'BW001', N'Bubble Wrap Roll', N'Wrap', N'100  x 50 cm ', N'-', 132, CAST(0.65 AS Decimal(10, 2)), N'In Stock', CAST(N'2025-12-19T21:13:28.130' AS DateTime))
INSERT [dbo].[PackagingInventory] ([MaterialId], [MaterialName], [Type], [Dimensions], [MaxWeight], [Stock], [Cost], [Status], [CreatedAt]) VALUES (N'BX001', N'Small Box', N'Box', N'15 x 15 x 10 cm', N'2 kg', 57, CAST(0.50 AS Decimal(10, 2)), N'In Stock', CAST(N'2025-12-19T21:00:56.973' AS DateTime))
INSERT [dbo].[PackagingInventory] ([MaterialId], [MaterialName], [Type], [Dimensions], [MaxWeight], [Stock], [Cost], [Status], [CreatedAt]) VALUES (N'BX002', N'Medium Box', N'Box', N'25 x 20 x 10 cm', N'5 kg', 71, CAST(0.50 AS Decimal(10, 2)), N'In Stock', CAST(N'2025-12-19T21:22:18.713' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductMaster] ON 

INSERT [dbo].[ProductMaster] ([Id], [ProductName], [Category], [Weight], [Length], [Width], [Height], [Fragility]) VALUES (1, N'Wireless Headphones', N'Electronics', 0.25, 20, 15, 10, N'Medium')
INSERT [dbo].[ProductMaster] ([Id], [ProductName], [Category], [Weight], [Length], [Width], [Height], [Fragility]) VALUES (2, N'Smartphone Box', N'Electronics', 0.3, 16, 8, 4, N'High')
INSERT [dbo].[ProductMaster] ([Id], [ProductName], [Category], [Weight], [Length], [Width], [Height], [Fragility]) VALUES (3, N'Bluetooth Speaker', N'Electronics', 0.45, 18, 10, 10, N'Medium')
SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Category], [LengthCm], [WidthCm], [HeightCm], [WeightKg], [FragilityLevel], [ImageUrl]) VALUES (1, N'Test Product', N'electronics', CAST(10.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(1.20 AS Decimal(18, 2)), N'medium', N'')
INSERT [dbo].[Products] ([Id], [ProductName], [Category], [LengthCm], [WidthCm], [HeightCm], [WeightKg], [FragilityLevel], [ImageUrl]) VALUES (2, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', N'')
INSERT [dbo].[Products] ([Id], [ProductName], [Category], [LengthCm], [WidthCm], [HeightCm], [WeightKg], [FragilityLevel], [ImageUrl]) VALUES (3, N'', N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', N'')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Phone], [CreatedAt], [LastLogin], [NotificationsEnabled], [PreferredTheme]) VALUES (4, N'Rhichaa', N'rhichaa@gmail.com', N'$2a$11$XiUKJNGt334oNvWg42Gjg.Ij8C6IxLMYW8PVK4Bw//.kg7Wr2INpu', N'', CAST(N'2025-12-16T18:42:24.2789018' AS DateTime2), CAST(N'2025-12-19T09:49:06.0971217' AS DateTime2), 1, N'system')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Phone], [CreatedAt], [LastLogin], [NotificationsEnabled], [PreferredTheme]) VALUES (5, N'Username', N'username@gmail.com', N'$2a$11$1X2n9FElr5fMPlxcCvP2SOMF6S1CSjDmhu7hoSdk96TiTZwneGiOG', N'+91 9876543210', CAST(N'2025-12-19T13:44:22.9668769' AS DateTime2), CAST(N'2025-12-22T14:31:42.2857786' AS DateTime2), 0, N'system')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[PackageHistories] ADD  DEFAULT ('Yes') FOR [AiUsed]
GO
ALTER TABLE [dbo].[PackageHistories] ADD  DEFAULT (getdate()) FOR [PackedAt]
GO
ALTER TABLE [dbo].[PackagingInventory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [NotificationsEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('system') FOR [PreferredTheme]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
USE [master]
GO
