/* FULL PAGE CENTERING */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7ff;
}

/* CARD */
.auth-card {
  width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.small-card {
  width: 350px;
}

/* TITLE */
.auth-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* SUBTEXT */
.auth-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* LABEL */
.auth-label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-bottom: 6px;
}

/* INPUT */
.auth-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 14px;
}

/* BUTTON */
.auth-button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 5px;
}

.auth-button:hover {
  background: #3c36c5;
}

/* BOTTOM LINK */
.auth-footer {
  margin-top: 15px;
}

.auth-link {
  color: #4f46e5;
  text-decoration: none;
  font-size: 14px;
}

.auth-link:hover {
  text-decoration: underline;
}
